{% extends '@User/layout.html.twig' %}

{% block title %}Registration{% endblock %}

{% block section %}
	<form action="{{ path('enigma_user_register') }}" method="post">
		{{ form_widget(registrationForm) }}

		<button type="submit" class="btn btn-light">Send</button>
	</form>
{% endblock %}