{% extends "@Enigma972User/layout.html.twig" %}

{% block section %}
	{% for message in app.session.flashBag.get('info') %}
			{{ message }}
		{% endfor %}

		<form action="{{ path('enigma_user_change_password') }}" method="post" accept-charset="UTF-8">
			<label>Old password</label>
			<input type="password" name="password_old" required="required"/><br/>
			<label>New password</label>
			<input type="password" name="password_first" required="required"/><br/>
			<label>Repeat password</label>
			<input type="password" name="password_second" required="required"/><br/>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('change_password') }}" required="required"/>
			<button>Change password</button>
		</form>

{% endblock %}
