Bonjour
{{ resetPasswordCode.user.username }},
Votre mot de passe a été modifié, si ce n'étais pas vous alors cliquez ci-dessous pour le changer.
<a href="{{ resetLink }}">Réinitialiser mon mot de passe</a>
Ce lien expirera dans
{{ resetPasswordCode.expireat | date('H') }}
heures,assurez-vous de l'utiliser bientôt.
