Bonjour {{ resetPasswordCode.user.username }},
Modifiez votre mot de passe et vous pourrez poursuivre.
Pour changer votre mot de passe, cliquez sur le lien ci-dessous.
<a href="{{ resetLink }}">Réinitialiser mon mot de passe</a>
Ce lien expirera dans {{ resetPasswordCode.expireat | date('H') }} heures,assurez-vous de l'utiliser bientôt.